
/*Navagation*/

.nav {

}

.nav h1 {
	text-align: center;
}

.nav a{
	text-decoration: none;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	color: green;
}

#left {
padding-left: 300px;
padding-right: 100px
}

#center {
/*padding-left: 50px */
}

#right {
padding-right: 300px;
padding-left: 100px;
}

/*Header*/

.header {

}

/*Jumbotron*/

.jumbotron{

}

/*Footer*/

.footer {

}