body {
  margin: 0;
  padding: 0;
  background:;
  font-family: 'Raleway' !important;
}
 
.nav ul {
  list-style: none;
  background-color: ;
  text-align: center;
  padding: 25px;
  margin: 0;
  font-family: 'Raleway' !important;
  font-size: 
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid ;
  font-family: 'Raleway' !important;
}
 
.nav a {
  text-decoration: none;
  color:;
  display: block;
  transition: .3s 
  background-color;
  font-family: 'Raleway' !important;
  line-height: 30px;
  font-size: 20px;
}

 
.nav a:hover {
  background-color: ;
}
 
.nav a.active {
  background-color: ;
  color: #444;
  cursor: default;
  font-family: 'Raleway' !important;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    font-family: 'Raleway' !important;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /*Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}
